body{
    background: yellow;
}

.eyes{
    background: white;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 20px;
    display: inline-block;  
}

.mouth{
    background: black;
    width: 400px;
    height: 300px;
    margin-top: 75px;
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 20px;
}

.teeth{
    background: white;
    display: inline-block;
    width: 50px;
    height:70px;
    margin: 5px;
}

.pupil{
    background: black;
    width: 60px;
    height:60px;
    margin: 75px;
}

.tongue{
    background: red;
    width: 150px;
    height: 100px;
    margin-left: 115px;
    margin-top: 100px;
}



